APP_SECRET=8a5da52ed126447d359e70c05721a8aa
APP_API_URL=http://localhost:3333
APP_WEB_URL=http://localhost:3000
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASS=

# Mail config: ethereal or ses
MAIL_DRIVER=ses

# Storage Config: disk or s3
STORAGE_DRIVER=disk

# AWS Credentials
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=AKIASS3NNGAUZJZKMJOY
AWS_SECRET_ACCESS_KEY=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




DB_HOST=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_PORT=
DB_SINCRONIZE=

